* {
  box-sizing: border-box;
}
body, html {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, "ITC Franklin Gothic", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}